<div class="container p-4">
    <div class="row">
        {{#each plataform}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <img src="{{Imagen_URL}}" alt="" class="img-fluid">
                    <h3 class="card-title text-uppercase">
                        {{Titulo}}
                    </h3>
                    <p class="m-2">{{Descripcion}}</p>
                    <p class="m-2">$ {{Precio}}</p>
                    <a href="/Plataformas/delete/{{IdPlataforma}}" class="btn btn-danger">Eliminar plataforma</a>
                    <a href="/Plataformas/editar/{{IdPlataforma}}" class="btn btn-secondary">Editar</a>
                </div>
            </div>
        </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay plataformas disponibles</p>
                    <a href="/Plataformas/add">¡Agrega una plataforma!</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>